[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #7F7F7F;
}

.header {
	background-color: #176CED;
	position: relative;
	padding: 1em;
}

.company-name {
	color: whitesmoke;
	font-size: 1.5em;
	position: absolute;
	top: 50%;
	left: 2%;
	transform: translate(-2%, -50%);
}

.current-time {
	position: absolute;
	top: 50%;
	right: 1.5%;
	transform: translate(-1.5%, -50%);
	color: whitesmoke;
	font-size: 1.3em;
}

.room {
	display: inline;
}

.room-list {
	width: 100%;
	text-align: center;
	padding: 0;
}

.room-circle {
	border-radius: 50%;
	width: 63px;
	height: 63px;
	background-color: white;
	display: inline-block;
	position: relative;
	margin: 0 2px;
  padding: 0;
}

.room-name {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hidden-name {
  display: none;
}

.open {
	background-color: #009A57;
	color: white;
}

.taken {
  background-color: #D9442F;
  color: white;
}

.long {
	font-size: .9em;
}

.lounge {
  font-size: .85em;
}

.short {
	font-size: 1.5em;
}

.appt-slot {
	padding: 3em 5em;
	background-color: #FFFFFF;
	margin: 0 0 2px 0;
  position: relative;
}

.appt-start,
.appt-end {
	font-size: 1.2em;
}

.appt-name {
	font-size: 2em;
	display: block;
	font-weight: bold;
	color: #176CED;
	margin: .3em 0 .1em 0;
}

.past-appt,
.current-appt {
  background-color: rgba(0, 0, 0, 0.5);
  color: #7F7F7F;
  padding: 3em 5em;
  margin: 0 0 2px 0;
  position: relative;
}

.attendees-list {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(0%, -50%);
  text-align: center;
}

.attendee {
  display: inline-block;
}

.test-image {
  display: inline;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 5px;
}
